.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/assets/home.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* White overlay with 80% opacity */
  z-index: 1;
}

.login-form {
  padding: 2rem;
  border-radius: 8px;
  background-color: #fff; /* Form background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2; /* Ensure form is above the overlay */
  min-width: 300px;
  text-align: center;
}

mat-card {
  max-width: 400px;
  margin: 0 auto; /* Center the card */
}