.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 128px); /* Adjust based on header/footer height */
  padding: 20px;
}

mat-card {
  max-width: 400px;
}