<mat-card *ngIf="deck" class="deck-card">
  <mat-card-header>
    <mat-card-title>{{ deck.deckName }} </mat-card-title>
    <mat-card-subtitle>{{ deck.deckFormat }}</mat-card-subtitle>
  </mat-card-header>
  <div class="deck-card-image-wrapper">
    <img [src]="deck.representativeImageUrl || 'assets/images/placeholder-card.png'"
         [alt]="deck.deckName + ' representative image (backest)'"
         class="stacked-image image-back-4">
    <img [src]="deck.representativeImageUrl || 'assets/images/placeholder-card.png'"
         [alt]="deck.deckName + ' representative image (backer)'"
         class="stacked-image image-back-3">
    <img [src]="deck.representativeImageUrl || 'assets/images/placeholder-card.png'"
         [alt]="deck.deckName + ' representative image (back)'"
         class="stacked-image image-back-2">
    <img [src]="deck.representativeImageUrl || 'assets/images/placeholder-card.png'"
         [alt]="deck.deckName + ' representative image (middle)'"
         class="stacked-image image-back-1">
    <img mat-card-image
         [src]="deck.representativeImageUrl || 'assets/images/placeholder-card.png'"
         [alt]="deck.deckName + ' representative image'"
         class="stacked-image image-front deck-card-image">
  </div>
  <mat-card-actions align="end">
    <button mat-icon-button color="primary" aria-label="Edit deck" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" aria-label="Delete deck" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card> 