<div class="app-container">
  <header class="app-header">
    <div class="app-header-content">
      <div class="app-logo">
        <img src="assets/image.png">
        <h1>MTG Deck Builder</h1>
      </div>
      <nav class="app-nav">
        <a *ngIf="(userData$ | async)?.userData as user" 
          mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon>dashboard</mat-icon>
          Home
        </a>
        <a *ngIf="(userData$ | async)?.userData as user" 
          mat-button routerLink="/decks" routerLinkActive="active">
          <mat-icon>view_list</mat-icon>
          Decks
        </a>
      </nav>

      <button *ngIf="(userData$ | async)?.userData as user" mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>

    </div>
  </header>

  <main class="app-content" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>

  <footer class="app-footer">
    <div class="app-footer-content">
      <p>© 2023 MTG Deck Builder | All card images and game data are property of Wizards of the Coast</p>
    </div>
  </footer>
</div>